body {
    
}

div {
    
}

.page {
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1495195134817-aeb325a55b65?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");


  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#header {
    color: white;
    text-align: center;
    font-size: 60px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
}

#text {
  text-align: center;
  font-size: 80px; 
  position: absolute;
  
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}


#logo{
    float: left;
}

.navbar {
  display: flex;
  justify-content: center;    
  background-color: white;
}



.main {
  
  display: flex;
  /*flex-flow: row wrap; */
  flex-wrap:wrap;
  flex: 1 0 auto;

}

#content {
  
  background-color: #bdb299;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}



.footer {
    position: fixed; 
    bottom: -20;
    left: 5;
    right: 0;
    height: 50px;
    background-color: white;
    
}
